@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600&family=Lato:wght@400;700&family=Pacifico&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
}

:root {
  --mainColor: #141b1b;
  --mainColorLight: #5767aa;
  --secondaryColor: #db2b39;
  --textColor: #b2e7e8;
  --cardColor: rgba(241, 119, 92, 0.532);
  --line: #7a7171ab;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--mainColor);
  color: var(--textColor);
  font-family: "Lato", sans-serif;
  z-index: 999;
  top: 0;
  position: sticky;
  -webkit-box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
  box-shadow: 20px 10px 22px rgba(0, 0, 0, 0.2);
}

header .logo {
  /* background-color: greenyellow; */
  height: 50px;
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
}

header .logo h3 {
  font-size: 2rem;
  font-weight: bolder;
  color: var(--secondaryColor);
  font-family: "Pacifico", cursive;
}

header .logo h3 span {
  color: var(--secondaryColor);
  font-family: "Pacifico", cursive;
}

header .logo h4 {
  font-size: 1rem;
  color: var(--textColor);
  font-family: "Pacifico", cursive;
}

footer {
  height: 100px;
  background-color: var(--mainColor);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  -webkit-box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 20px 20px rgba(0, 0, 0, 0.2);
 
}

footer p {
  color: var(--textColor);
}

footer p span {
  font-family: "Pacifico", cursive;
  color: var(--secondaryColor);
}

nav li {
  margin: 0 20px;
  list-style: none;
  /* display: none; */
}

nav li a {
  margin: 0 1rem;
  color: var(--textColor);
  text-decoration: none;
  font-size: 1.5rem;
}

nav a:hover {
  color: var(--textColor);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

header div,
nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 500px) {
  header {
    justify-content: space-around;
    z-index: 999;
    position: sticky;
    top: 0;
  }
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
    z-index: 100;
  }

  header nav li {
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
    width: 80%;
    /* background-color: #5767aa; */
  }

  header nav li a {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    width: 100%;
    text-align: center;
  }

  nav a:hover {
    color: var(--textColor);
  }

  .active {
    color: var(--textColor);
    background-color: #e4dddd1f;
    z-index: -5;
  }

  .active a {
    color: var(--textColor);
  }

  header .responsive_nav {
    transform: translateY(100vh);
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  header h3 {
    font-size: 2rem;
    font-weight: bolder;
  }
}

/* services */

.div {
  background-color: var(--mainColor);
  font-family: "Pacifico", cursive;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.div h2 {
  color: var(--textColor);
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-size: 3rem;
  font-family: "Lato", sans-serif;
}

.div h2 span {
  color: var(--secondaryColor);
  font-size: 4rem;
  font-family: "Pacifico", cursive;
}

.container {
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .card {
  position: relative;
  margin: 50px -50px;
  width: 250px;
  cursor: pointer;
  border: none;
  background-color: var(--mainColor);
}

.container .card .face {
  width: 250px;
  border-radius: 5px;
  height: 150px;
  transition: 0.5s;
}

.container .card .face.face1 {
  position: relative;
  background: var(--cardColor);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(75px);
}

.container .card:hover .face.face1 {
  background: var(--secondaryColor);
  transform: translateY(0);
}

.container .card .face.face1 .content {
  opacity: 0.8;
  transition: 0.5s;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container .card:hover .face.face1 .content {
  opacity: 1;
}

.container .card .face.face1 .content img {
  max-width: 75px;
  border-radius: 50%;
}

.container .card .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
  font-family: "Pacifico", cursive;
}

.container .card:hover .face.face2 {
  transform: translateY(0);
}

.container .card .face.face2 .content p {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 500px) {
  .container {
    flex-direction: row;
    overflow-x: hidden;
  }
  .container .card {
    width: 180px;
  }

  .container .card .face {
    width: 180px;
  }
}


/* Projects */
.projects-body {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--mainColor);
  font-family: "Chakra Petch", sans-serif;
}

.projects-body .search-box {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box input {
  width: 500px;
  height: 40px;
  padding: 0 10px;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  font-size: 1.5rem;
  color: var(--textColor);
  background-color: #e4dddd1f;
  outline: none;
}
.project-cards {
  min-height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.project-card {
  min-height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background: #a43e3e1f;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.project-card img {
  width: 250px;
}

.project-card h3 {
  color: var(--textColor);
  text-align: center;
}

.project-card a {
  text-decoration: none;
  background-color: #8883833b;
  padding: 5px 20px;
  font-size: 1.2rem;
  color: var(--textColor);
  border-radius: 5px;
  font-family: "Pacifico", cursive;
}

@media only screen and (max-width: 500px) {
  .project-card {
    margin: 2rem 0;
  }
  .search-box input {
    width: 300px;
  }
}

/* Designs */

.Design-body {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--mainColor);
  font-family: "Chakra Petch", sans-serif;
}

.Design-cards {
  min-height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* border: 2px solid red; */
}
.Design-card {
  min-height: 300px;
  max-height: 600px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background: #a43e3e1f;
  padding: 10px;
  margin: 5rem 10px;
  border-radius: 5px;
}

.Design-image {
  width: 250px;
  min-height: 250px;
  max-height: 600px;
  display: flex;
  border: 1px solid var(--line);
  align-items: center;
  justify-content: center;
  position: relative;
  top: -3rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  background-position: center;
  background-size: contain;
}

.Design-image img {
  padding: 20px;
  width: 300px;
  border-radius: 5px;
}

.Design-card h3 {
  color: var(--textColor);
  text-align: center;
}

.Design-card p {
  color: var(--textColor);
  text-align: center;
  margin: 5px 0;
  font-size: 0.8rem;
}

.Design-card p span {
  color: var(--secondaryColor);
  margin: 0 20px;
  font-size: 0.8rem;
}

.Design-card a {
  text-decoration: none;
  background-color: #8883833b;
  padding: 2px 20px;
  margin: 2px;
  font-size: 1.2rem;
  color: var(--textColor);
  border-radius: 5px;
  font-family: "Pacifico", cursive;
}

.pagination {
  height: 60px;
  /* background-color: #5767aa; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-button {
  padding: 10px;
  margin: 0 10px;
  border-radius: 5px;
  width: 50px;
  border: none;
  background-color: #b6a2a250;
  color: var(--textColor);
  cursor: pointer;
  outline: none;
}

.pagination-button:hover {
  background-color: var(--secondaryColor);
}

.pagination-buttonactive {
  background-color: var(--secondaryColor);
  padding: 10px;
  border: none;
  color: var(--textColor);
  border-radius: 5px;
}

.no-results-message{
	color: var(--secondaryColor);
}

.loading-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loading-icon img{
	width: 50px;
	filter: grayscale(1);
}

.loading-icon p{
  color: var(--textColor);
  margin: 5px 20px;
}

.sub-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--textColor);
  padding: 10px 0;
}

.Design-body .codePrinter .modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(69, 66, 66, 0.895);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.Design-body .codePrinter .modal-content {
  background-color: var(--mainColor);
  padding: 20px;
  border-radius: 5px;
  width: 90vw;
  height: 90vh;
}

::-webkit-scrollbar {
  height: 1px;
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--mainColor);
  border-radius: 10px;
  
}

::-webkit-scrollbar-corner {
  background-color: var(--mainColor);
}

.Design-body .codePrinter .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}



.Design-body .codePrinter h2{
  color: var(--secondaryColor);
  margin: 5px 0;
  position: relative;
  top: 3px;
}

.Design-body .codePrinter .button{
  margin: 5px 0;
  background-color: var(--textColor);
  padding: 3px 5px;
  border-radius: 5px;
  color: var(--secondaryColor);
  border: none;
}

.Design-body .codePrinter .button:hover{
  background-color: var(--secondaryColor);
  color: var(--textColor);
}

.Design-body .codePrinter .modal-close{
  color: var(--textColor);
  font-size: 1.5rem;
  background-color: var(--secondaryColor);
  padding: 0 8px;
  border-radius: 2px;
}

.Design-body .codePrinter .modal-close:hover{
  background-color: var(--textColor);
  color: var(--mainColor);
}

.Design-body .codePrinter .modal-close {
  cursor: pointer;
}

.code-blocks{
  height: 90vh;
  overflow: scroll;
}

.code-block .copy-btn{
  background-color: #ceb9b96a;
  padding: 3px 20px;
  border-radius: 5px;
  color: 
  var(--textColor);
  position: relative;
  top: 20px;
  border: none;
}

.code-block .copy-btn:hover{
  background-color: var(--secondaryColor);
}

.code-block .copy-btn-container{
  display: flex;
  justify-content: space-between;
}

.code-block{
  max-height: 40%;
  overflow: scroll;
}

.contact-body{
  display: flex;
  min-height: 80vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  background-color: var(--mainColor);
  font-family: "Chakra Petch", sans-serif;
}

.contact-body .contact-wrapper{
  width: 50vw;
}

.contact-body h1{
  color: var(--textColor);
  font-size: 2rem;
  margin: 2rem 0;
}

.contact-body h1 span{
  color: var(--secondaryColor);
  font-family: "Pacifico", cursive;
}

.contact-body h1 #in{
  font-size: 1.5rem;
  color: var(--textColor);
}

.contact-body .contact-para p{
  color: var(--textColor);
  text-align: start;
  font-size: 1rem;
}

.contact-body .contact-para #end-line{
  color: var(--secondaryColor);
  font-family: "Pacifico", cursive;
  font-size: 1.5rem;
}


.contact-body .profile-card {
  height: 150px;
  width: 100%;
  background-color: rgba(53, 46, 50, 0.232);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 8px;
  -webkit-box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
  box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.profile-card button {
  background-color: rgba(255, 255, 255, 0.06);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  width: 200px;
  border: none;
  outline: none;
  padding: 5px 10px;
  color: var(--textColor);
  border-radius: 4px;
  letter-spacing: 2px;
  font-size: 1.5rem;
}

.profile-card button:hover {
  background-color: var(--secondaryColor);
}

@media only screen and (max-width: 500px) {
  .contact-body .contact-wrapper{
    width: 90vw;
  }
}

.sub-form{
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--mainColor);
  padding: 20px 0;
}

.sub-form form{
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #343a3a31;
  border-radius: 0.5rem;
}

.sub-form .sub-msg{
  color: var(--textColor);
  padding: 0 20px;
  font-size: 1.2rem;
  text-align: center;
  
}

.sub-form form  p{
  margin-top: 5px;
  color: var(--secondaryColor);
}

.sub-form form input{
  margin-top: 1.5rem;
  height: 35px;
  width: 280px;
  padding: 0 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1.5rem;
  background-color: #2b2f2fbc;
  color: var(--textColor);
}

.sub-form button{
  margin-top: 1.5rem;
  height: 40px;
  width: 280px;
  font-size: 2rem;
  border-radius: 8px;
  background-color: #b15f5fc1;
  color: var(--textColor);
  border: none;
}

.sub-form button:hover{
  background-color: var(--secondaryColor);
}