@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;500&family=Source+Code+Pro:wght@400;800&family=Urbanist:wght@200;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* font-family: 'Montserrat Alternates', sans-serif; */
/* font-family: 'Source Code Pro', monospace; */
/* font-family: 'Urbanist', sans-serif; */
  /* font-family: "Chakra Petch", sans-serif; */
}

:root {
  --mainColor: #002233;
  --mainColorLight: #84899b;
  --secondaryColor: #308162;
  --textColor: #b2b8b8;
  --cardColor: rgba(241, 119, 92, 0.532);
  --line: #7a7171ab;
  --headcolor: #9d064f;
  --subcolor:#fff;
  --codecontainer: #161718;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--headcolor);
  color: var(--secondaryColor);
  /* box-shadow: 8px 8px 16px #001220, -8px -8px 16px #001220; */

}

header .logo {
  height: 80px;
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
}

header .logo img{
  width: 100px;
  height: 50px;
  object-fit: cover;
}


footer {
  min-height: 400px;
  width: 100%;
  background-color: var(--headcolor);
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px 40px;
}

footer p{
  color: var(--textColor);
}

.beautiful-bullets {
  list-style: none;
  padding-left: 0px;
  list-style-type: none;
  color: var(--subcolor);
}

.beautiful-bullets li{
  margin-top: 10px;
}

footer p span {
  font-family: "Pacifico", cursive;
  color: var(--secondaryColor);
}

nav li {
  margin: 0 20px;
  list-style: none;
  /* display: none; */
}

nav .upload-btn{
  color: var(--textColor);
  padding: 8px 30px;
  border-radius: 20px;
  background-color: var(--secondaryColor);
  text-decoration: none;
}

nav .upload-btn:hover{
  background-color: #0eb132;
}

nav li a {
  margin: 0 1rem;
  color: purple;
  text-decoration: none;
  font-size: 1.5rem;
}

nav a:hover {
  color:  var(--subcolor);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--subcolor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

header div,
nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 700px) {
  header {
    justify-content: space-around;
    z-index: 999;
    position: relative;
  }
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--headcolor);
    transition: 1s;
    z-index: 100;
  }

  header nav li {
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
    width: 80%;
    /* background-color: #5767aa; */
  }

  header nav li a {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    width: 100%;
    text-align: center;
  }

  nav a:hover {
    color: var(--textColor);
  }

  .active {
    color: var(--textColor);
    background-color: #e4dddd1f;
    z-index: -5;
  }

  .active a {
    color: var(--textColor);
  }

  header .responsive_nav {
    transform: translateY(100vh);
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  header h3 {
    font-size: 2rem;
    font-weight: bolder;
  }
  footer{
    padding: 20px;
    align-items: center;
    min-height: 500px;
  }
}

/* services */

.div {
  font-family: "Pacifico", cursive;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.div h2 {
  color: var(--textColor);
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
}

.div h2 span {
  color: var(--secondaryColor);
  font-size: 3rem;
  font-family: "Pacifico", cursive;
}

.desc{
  /* background-color: var(--subcolor); */
  width: 100%;
 display: flex; 
 align-items: center;
 justify-content: space-evenly;
 flex-direction: column;
 min-height: 20vh;
 padding: 20px;
}

.about-page{
  width: 96%;
  min-height: 10vh;
}

.about-page p{
  color: var(--textColor);
  text-align: justify;
  font-weight: 800;
}

.desc p span{
  color: var(--secondaryColor);
  font-family: "Pacifico", cursive;
}

#websiteName{
  color: var(--secondaryColor);
  font-family: "Pacifico", cursive;
}

.address-container{
  width: 96%;
  height: 100px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  /* background-color: #0eb132; */
}
.address a{
  text-decoration: none;
}

.address h5{
  color: var(--subcolor);
  font-weight: 800;
  font-size: 1rem;
  margin-top: 10px;
}

.address h4{
  color: purple;
  font-weight: 800;
  font-size: 1.4rem;
}

.container {
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .card {
  position: relative;
  margin: 50px -50px;
  width: 250px;
  cursor: pointer;
  border: none;
  background-color: var(--mainColor);
}

.container .card .face {
  width: 250px;
  border-radius: 5px;
  height: 150px;
  transition: 0.5s;
}

.container .card .face.face1 {
  position: relative;
  background: var(--cardColor);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(75px);
}

.container .card:hover .face.face1 {
  background: var(--secondaryColor);
  transform: translateY(0);
}

.container .card .face.face1 .content {
  opacity: 0.8;
  transition: 0.5s;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container .card:hover .face.face1 .content {
  opacity: 1;
}

.container .card .face.face1 .content img {
  max-width: 75px;
  border-radius: 50%;
}

.container .card .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
  font-family: "Pacifico", cursive;
}

.container .card:hover .face.face2 {
  transform: translateY(0);
}

.container .card .face.face2 .content p {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 700px) {
  .container {
    flex-direction: row;
    overflow-x: hidden;
  }
  .container .card {
    width: 180px;
  }

  .container .card .face {
    width: 180px;
  }

  .desc{
   flex-direction: column;
  }
}




/* Projects */
.projects-body {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--mainColor);
  font-family: "Chakra Petch", sans-serif;
}

.projects-body .search-box {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box input {
  width: 500px;
  padding: 0 10px;
  margin-bottom: 20px;
  border: none;
  font-size: 12px;
  color: var(--textColor);
  background-color: var(--subcolor);
  outline: none;
  border-radius: 20px;
  height: 45px;
  box-shadow: 1px 1px 5px #f3efef, -1px -1px 5px #f3efef;
}
.project-cards {
  min-height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.project-card {
  min-height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background: #a43e3e1f;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.project-card img {
  width: 250px;
}

.project-card h3 {
  color: var(--textColor);
  text-align: center;
}

.project-card a {
  text-decoration: none;
  background-color: #8883833b;
  padding: 5px 20px;
  font-size: 1.2rem;
  color: var(--textColor);
  border-radius: 5px;
  font-family: "Pacifico", cursive;
}

@media only screen and (max-width: 700px) {
  .project-card {
    margin: 2rem 0;
  }
  .search-box input {
    width: 320px;
  }
}

/* Designs */

.Design-body {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--mainColor);
  font-family: "Chakra Petch", sans-serif;
}

.Design-cards {
  min-height: 400px;
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 25px 0;
  padding: 20px 5px;
  border-radius: 10px;
  /* box-shadow: 8px 8px 16px #ffffff, -8px -8px 16px #ffffff; */

  /* border: 2px solid red; */
}
.Design-card {
  height:300px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  /* border: 1px solid var(--line); */
  padding: 10px;
  margin: 2rem -10px -0.5rem -10px;
  border-radius: 5px;
}

.Design-image {
  width: 250px;
  height: 250px;
  display: flex;
  /* border: 1px solid var(--line); */
  background-color: var(--subcolor); 
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  cursor: pointer;
}

.Design-image img {
  padding: 10px;
  width: 200px;
  height: 250px;
  object-fit: contain;
  border-radius: 5px;
}


.card-desc{
  height: 125px;
  width: 250px;
  background-color: var(--subcolor);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  border-radius: 0 0 10px 10px;  
  /* border: 1px solid var(--line); */

}

.card-desc h3 {
  color: var(--textColor);
  text-align: start;
  font-size: 1rem;
}

.card-desc p {
  color: var(--textColor);
  text-align: center;
  margin: 5px 0;
  font-size: 0.8rem;
}

.card-desc p span {
  color: var(--secondaryColor);
  margin: 0 20px;
  font-size: 0.8rem;
}

.Design-card a {
  text-decoration: none;
  background-color: var(--secondaryColor);
  padding: 2px 20px;
  margin: 2px;
  font-size: 1.2rem;
  color: var(--subcolor);
  border-radius: 5px;
  font-family: "Pacifico", cursive;
}

.Design-card a:hover{
  background-color: var(--subcolor);
  color: var(--secondaryColor);
}

.pagination {
  height: 60px;
  /* background-color: #5767aa; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-button {
  padding: 10px;
  margin: 0 10px;
  border-radius: 5px;
  width: 50px;
  border: none;
  background-color: #b6a2a250;
  color: var(--textColor);
  cursor: pointer;
  outline: none;
}

.pagination-button:hover {
  background-color: var(--secondaryColor);
}

.pagination-buttonactive {
  background-color: var(--secondaryColor);
  padding: 10px;
  border: none;
  color: var(--textColor);
  border-radius: 5px;
}

.no-results-message{
	color: var(--secondaryColor);
}

.loading-icon {
  display: flex;
  width: 96vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loading-icon img{
	width: 50px;
	filter: grayscale(1);
}

.loading-icon p{
  color: var(--textColor);
  margin: 5px 20px;
}

.sub-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  color: var(--secondaryColor);
  font-weight: bolder;
  padding: 2px 20px;
  position: relative;
  text-decoration: none;
}

.underline{
  width: 60%;
  height: 1px;
  background-color: var(--line);
}


.Design-body .codePrinter .modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(81, 72, 72, 0.895);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.Design-body .codePrinter .modal-content {
  background-color: var(--mainColor);
  padding: 20px;
  border-radius: 5px;
  width: 90vw;
  height: 90vh;
}

::-webkit-scrollbar {
  height: 1px;
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--mainColor);
  border-radius: 10px;
  
}

::-webkit-scrollbar-corner {
  background-color: var(--mainColor);
}

.Design-body .codePrinter .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}



.Design-body .codePrinter h2{
  color: var(--secondaryColor);
  margin: 5px 0;
  position: relative;
  top: 3px;
}

.Design-body .codePrinter .button{
  margin: 5px 0;
  background-color: var(--secondaryColor);
  padding: 3px 5px;
  border-radius: 5px;
  color: var(--subcolor);
  border: none;
}

.Design-body .codePrinter .button:hover{
  background-color: var(--subcolor);
  color: var(--secondaryColor);
}

.Design-body .codePrinter .modal-close{
  color: var(--textColor);
  font-size: 1.5rem;
  background-color: var(--secondaryColor);
  padding: 0 8px;
  border-radius: 2px;
}

.Design-body .codePrinter .modal-close:hover{
  background-color: var(--textColor);
  color: var(--mainColor);
}

.Design-body .codePrinter .modal-close {
  cursor: pointer;
}

.code-blocks{
  height: 90vh;
  overflow: scroll;
}

.code-block .copy-btn{
  background-color: var(--secondaryColor);
  padding: 3px 20px;
  border-radius: 5px;
  color: 
  var(--subcolor);
  position: relative;
  top: 20px;
  border: none;
}

.code-block .copy-btn:hover{
  background-color: green;
}

.code-block .copy-btn-container{
  display: flex;
  justify-content: space-between;
}

.code-block{
  max-height: 40%;
  overflow: scroll;
}

.contact-body{
  display: flex;
  min-height: 50vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  background-color: var(--mainColor);
  font-family: "Chakra Petch", sans-serif;
}

.contact-body .contact-wrapper{
  width: 96vw;
}

.contact-body h1{
  color: var(--textColor);
  font-size: 2rem;
  margin: 2rem 0;
  font-weight: 800;
}

.contact-body h1 span{
  color: var(--secondaryColor);
  font-family: "Pacifico", cursive;
}

.contact-body h1 #in{
  font-size: 1.5rem;
  color: var(--textColor);
}

.contact-body .contact-para p{
  color: var(--textColor);
  text-align: start;
  font-weight: 800;
}

.contact-body .contact-para #end-line{
  color: purple;
  font-family: "Pacifico", cursive;
  font-size: 1.5rem;
}

/* 
.contact-body .email-card {
  height: 150px;
  width: 100%;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: start;
  
}

.email-card button {
  background-color: var(--subcolor);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  width: 200px;
  border: none;
  outline: none;
  padding: 5px 10px;
  color: var(--textColor);
  border-radius: 4px;
  letter-spacing: 2px;
  font-size: 1.5rem;
} 

.email-card button:hover {
  background-color: var(--secondaryColor);
  color: var(--subcolor);
} */

@media only screen and (max-width: 700px) {
  .contact-body .contact-wrapper{
    width: 90vw;
  }
  .sub-title{
    justify-content: center;
  }
}

.sub-form{
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0;
  background-color: var(--mainColor);
  /* border: 1px solid red; */

}
.form-wrapper{
  width: 96vw;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  /* border: 1px solid red; */

}

.sub-form form{
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

.sub-form .sub-msg{
  color: var(--textColor);
  font-size: 1.2rem;
  text-align: center;
  
}

.sub-form form input{
  margin-top: 1.5rem;
  height: 35px;
  width: 450px;
  padding: 0 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1.2rem;
  background-color: #5c5e5f2c;
  color: var(--textColor);
}

.sub-form form textarea{
  margin-top: 1.5rem;
  height: 100px;
  width: 450px;
  padding: 0 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1.2rem;
  background-color: #5c5e5f2c;
  color: var(--textColor);
}


.sub-form button{
  margin-top: 1.5rem;
  height: 40px;
  width: 450px;
  font-size: 1.2rem;
  border-radius: 8px;
  background-color: var(--secondaryColor);
  color: var(--subcolor);
  border: none;
}

.sub-form button:hover{
  background-color: var(--headcolor);
  color: var(--subcolor);
}

@media only screen and (max-width: 700px) {
  .form-wrapper{
    width: 95vw;
  }
  .sub-form form{
    margin: 20px;
  }
  .sub-form form input{
    width: 300px;
  }
  .sub-form form textarea{
    width: 300px;
  }
  .sub-form form button{
    width: 300px;
  }

}

.design-images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 400px;
  width: 100vw;
  background-color: var(--mainColor);
}

.design-images img {
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  width: auto;
  height: 250px;
  object-fit: cover;
}

.design-images img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.design-images .explore-btn{
  font-size: 1rem;
  padding: 10px 50px;
  border-radius: 5px;
  background-color: var(--secondaryColor);
  color: var(--textColor);
  border: none;
  margin: 5px 20px;
}

.design-images .explore-btn span{
  color: var(--textColor);
}

.design-images .explore-btn:hover{
  background-color: var(--secondaryColor);
}


/* upload form */

.form-container{
  background-color: var(--mainColor);
}
.upload-form{
  /* box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2); */
  min-height: 50vh;
  padding: 20px;
}


.upload-form h1 {
  margin-top: 5px;
  color: var(--textColor);
  text-align: center;
  margin-bottom: 2rem;
}

.upload-form h2 {
  margin: 5px 0;
  color: var(--textColor);
}
.upload-form label {
  display: block;
  color: #fff;
  margin-bottom: 10px;
}
#type-select{
  color: var(--secondaryColor);
}

.upload-form input[type="text"],
input[type="file"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #372b2b;
  margin-bottom: 20px;
  color: #fff;
  background-color: #78717144;
  font-size: 16px;
  line-height: 1.5;
  resize: none;
  outline: none;
}

.upload-form textarea{
  width: 100%;
  height: 100px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #372b2b;
  margin-bottom: 20px;
  color: #fff;
  background-color: #78717144;
  font-size: 16px;
  line-height: 1.5;
  resize: none;
  outline: none;
}

.upload-form select{
  width: 100%;
  padding: 10px;
  border: none;
  margin-bottom: 20px;
  color: #ffffff;
  border-radius: 2px;
  background-color: #19692a;
  font-size: 16px;
  line-height: 1.5;
  resize: none;
  outline: none;
}
.upload-form button {
  display: block;
  width: 100%;
  background-color: var(--secondaryColor);
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.upload-form input[type="submit"]:hover {
  background-color: #0eb132;
}

/* Tablet and Desktop Styles */
@media only screen and (min-width: 700px) {
  .upload-form {
    max-width: 768px;
    margin: 0 auto;
  }
  .upload-form .form-head-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .upload-form .form-content {
    width: calc(50% - 10px);
  }
}

.landingPage{
  min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--mainColor);
}

.landingpage-head{
  min-height: 150px;
  width: 100%;
  border-radius: 0 0 25px 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  margin-bottom: 25px;
}

.landingpage-head h2{
  font-size: 4rem;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: var(--secondaryColor);
  text-shadow: 1px 1px 3px var(--textColor);
  text-align: center;
}
.landingpage-head h2 span{
    font-family: "Pacifico", cursive;
    color: var(--subcolor);
}

.stats{
  min-height: 60px;
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px 5px;
  border-radius: 10px;
  margin: 25px 0;
  box-shadow: 8px 8px 16px #ffffff, -8px -8px 16px #ffffff;
}

.stats-card{
  min-height: 50px;
  min-width: 100px;
  /* background-color: var(--subcolor); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5px;
}

.stats-card h2{
  color: var(--secondaryColor);
  text-shadow: 1px 1px 3px var(--textColor);
  font-size: 3rem;
}

.stats-card h3{
  font-family: "Pacifico", cursive;
  color: var(--secondaryColor);
  text-shadow: 1px 1px 3px var(--subcolor);
  font-size: 2rem;
}

.news-box{
  min-height: 200px;
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: start;
  overflow-x: scroll;
  padding: 20px 5px;
  border-radius: 10px;
  margin: 25px 0;
  /* box-shadow: 8px 8px 16px #ffffff, -8px -8px 16px #ffffff; */
}
.news{
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  /* border: 1px solid #0eb132; */
}

.news-card{
  min-height: 250px;
  width: 500px;
  border-radius: 10px;
  margin: 0 10px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}


.news h2{
  font-weight: 900;
  color: red;
  font-size: 1.2rem;
  text-align: start;
}

.news-card p{
  color: black;
  font-size: 10px;
  text-align: justify;
}

.news-card span{
  font-size: 12px;
  margin-top: 5px;
  color: var(--textColor);
  width: 100%;
  text-align: end;
}

.news-card a{  
  text-decoration: none;
  color: var(--subcolor);
  background-color: var(--secondaryColor);
  padding: 5px 10px;
  border-radius: 5px;
}

.news-card a:hover{
  color: var(--secondaryColor);
  background-color: var(--subcolor);
}


.features-container{
  min-height: 100px;
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 5px;
  border-radius: 10px;
  margin: 25px 0;
}

.feature-card{
  width: 500px;
  min-height: 50px;
  /* background-color: var(--subcolor); */
  border-radius: 10px;
  margin: 5px 10px;
  padding: 10px;
}

.feature-card h2{
  color: var(--secondaryColor);
  text-shadow: 1px 1px 3px var(--textColor);
}

/* services or features */


.services {
  border-radius: 20px;
  min-height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
}

.service-type{
  position: relative;
  height: 200px;
  width: 300px;
  box-shadow: 0px 0px 10px 2px rgba(208, 210, 206, 0.79);
  border-radius: 5px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.service-type a{
  background-color: var(--secondaryColor);
  color: var(--subcolor);
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 5px;
}

.service-type a:hover{
  color: var(--textColor);
  background-color: var(--subcolor);
}

#ai{
  background-color: var(--subcolor);
  animation-name: slide-in-left;
}

#ai::before {
  content: '';
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-image: url(../assets/ui.png);
  border-top: 5px solid rgba(39, 38, 40, 0.725);
  background-position: center;
  background-size: contain;
  z-index: 10;
}

@keyframes slide-in-left {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  25% {
    transform: translateY(0%);
    opacity: 1;
  }
  75% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.service-type img{
  width: 100px;
}
.service-type h3{
  font-size: 1.5rem;
  color: var(--color-white);
  font-weight: bolder;
}

@media only screen and (max-width: 700px) {
  .feature-card{
    width: 350px;
  }  
  .services {
    height: 400px;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .news-card{
    width: 350px;
    min-height: 350px;
  }

  .news-card p{
    color: black;
  }
}