@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600&family=Lato:wght@400;700&family=Pacifico&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
}

/* :root { */
  /* --mainColor: #141b1b;
  --mainColorLight: #5767aa;
  --secondaryColor: #db2b39;
  --textColor: #c1d3d3;
  --cardColor: rgba(241, 119, 92, 0.532);
  --line: #7a7171ab; */
/* } */

.sort-container {
  background-color: var(--mainColor);
  min-height: 80vh;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.container-head {
  min-width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #57515233;
  border-radius: 10px;
}
.container-head h1 {
  color: var(--secondaryColor);
  margin: 20px 0;
}

.container-head input {
  width: 200px;
  height: 30px;
  border: none;
  background-color: var(--textColor);
  outline: none;
  border-radius: 5px 0 0 5px;
}

.container-head button {
  height: 30px;
  margin: 0 5px;
  width: 80px;
  border: none;
  background-color: var(--secondaryColor);
  border-radius: 0 5px;
}
.container-head button:hover {
  background-color: green;
}
.numbers {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
}

.number {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  box-shadow: 2px 2px 4px #dcf1f1;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 5px;
  transition: transform 0.3s;
}

.sort-container-body {
  min-height: 50vh;
  max-width: 600px;
  padding: 20px 0;
}

.sort-container-body p {
  color: var(--textColor);
  text-align: justify;
}

@media only screen and (max-width: 500px) {
    .sort-container {
        min-height: 120vh;
    }
}