@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600&family=Lato:wght@400;700&family=Pacifico&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
}

:root {
  --mainColor: #eaf1f1;
  --mainColorLight: #84899b;
  --secondaryColor: #308162;
  --textColor: #2f3030;
  --cardColor: rgba(241, 119, 92, 0.532);
  --line: #7a7171ab;
  --headcolor: #21d28e;
  --subcolor:#fff;
}

.sort-container {
  background-color: var(--mainColor);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.container-head {
  min-width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}
.container-head h1 {
  color: var(--secondaryColor);
  margin: 20px 0;
}

.container-head input {
  width: 200px;
  height: 30px;
  border: none;
  background-color: var(--subcolor);
  padding: 0 10px;
  outline: none;
  border-radius: 5px 0 0 5px;
}

.container-head button {
  height: 30px;
  margin: 0 5px;
  width: 80px;
  border: none;
  background-color: var(--secondaryColor);
  border-radius: 0 5px;
}
.container-head button:hover {
  background-color: green;
}
.sortnumbers {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
}

.sortnumber {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  box-shadow: 2px 2px 4px var(--textColor);
  justify-content: center;
  align-items: center;
  background-color: var(--subcolor);
  margin: 5px;
  transition: transform 0.3s;
}

.sort-container-body {
  max-width: 90vw;
  padding: 10px;
}

.sort-container-body p {
  color: var(--textColor);
  text-align: justify;
}

@media only screen and (max-width: 700px) {
    .sort-container {
        min-height: 120vh;
    }
}