@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600&family=Lato:wght@400;700&family=Pacifico&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
  /* font-family: "Lato", sans-serif; */
}

:root {
  --mainColor: #002233;
  --mainColorLight: #84899b;
  --secondaryColor: #308162;
  --textColor: #b2b8b8;
  --cardColor: rgba(241, 119, 92, 0.532);
  --line: #7a7171ab;
  --headcolor: #FCAF3C;
  --subcolor:#fff;
  --codecontainer: #161718;
}
.sort-body{
  min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--mainColor);
  font-family: "Chakra Petch", sans-serif;
}
.sort-box {
  min-height: 400px;
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 25px 0;
  padding: 20px 5px;
  border-radius: 10px;
  /* background-color: #21d28e; */
  /* box-shadow: 8px 8px 16px #885252, -8px -8px 16px #c97c7c; */

}

.sort-box .sort-container{
  min-width: 400px;
  height: 300px;
  margin: 10px;
  border: 1px solid var(--secondaryColor);
  border-radius: 10px;
}

.sortnumbers{
  min-width: 400px;
  min-height: 200px;
  /* background-color: #2f3030; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.sortnumber {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  box-shadow: 2px 2px 4px var(--textColor);
  justify-content: center;
  align-items: center;
  background-color: var(--subcolor);
  margin: 5px;
  transition: transform 0.3s;
}

.sort-action{
  min-width: 400px;
  height: 100px;
  /* background-color: #84899b; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.sort-box h1{
  font-family: "Lato", sans-serif;
  font-weight: 800;
  color: var(--secondaryColor);
  font-size: 2rem;
}

.sort-box input {
  width: 200px;
  height: 30px;
  border: none;
  background-color: var(--subcolor);
  padding: 0 10px;
  outline: none;
  border-radius: 5px 0 0 5px;
}

.sort-box button{
  height: 30px;
  margin: 0 5px;
  width: 80px;
  border: none;
  background-color: var(--secondaryColor);
  border-radius: 0 5px;
}

.sort-desc{
  width: 90vw;
  padding: 10px 20px;
  color: var(--subcolor);
}

.sort-box summary{
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-size: 2rem;
  color: var(--secondaryColor);
}


@media only screen and (max-width: 700px) {
  
  .sort-box .sort-container{
    width: 320px;
    min-height: 300px;
    margin: 10px;
    border: 1px solid var(--secondaryColor);
  }
  .sortnumbers{
    width: 320px;
  }

  .sort-action{
    width: 320px;
  }
}