@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600&family=Lato:wght@400;700&family=Pacifico&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
}

:root {
  --mainColor: #eaf1f1;
  --mainColorLight: #84899b;
  --secondaryColor: #308162;
  --textColor: #2f3030;
  --cardColor: rgba(241, 119, 92, 0.532);
  --line: #7a7171ab;
  --headcolor: #21d28e;
  --subcolor:#fff;
}

.tutorial-body {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 0;
  background-color: var(--mainColor);
  font-family: "Chakra Petch", sans-serif;
}

.tutorial-cards {
  min-height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 25px;
  padding: 20px 5px;
  border-radius: 10px;
  box-shadow: 8px 8px 16px #ffffff, -8px -8px 16px #ffffff;
  /* border: 2px solid red; */
}

.content-card {
  width: 320px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--subcolor);
  margin: 10px;
  border-radius: 10px;
  box-shadow: 8px 8px 16px #d9d9d9, -8px -8px 16px #d9d9d9;

}

.image-demo {
  background-color: var(--subcolor);
  height: 80px;
  width: 100px;
  color: var(--textColor);
  transition: 0.4s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-demo h1 {
  text-align: center;
  font-size: 2rem;
}
.title-head {
  background-color: var(--textColor);
  height: 120px;
  width: 200px;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.title-head h2 {
  margin: 5px 0;
  font-size: 1rem;
  color: var(--mainColor);
}
.title-head .action-area {
  margin-bottom: 5px;
}

.title-head .action-area a {
  padding: 5px 25px;
  text-decoration: none;
  border-radius: 5px;
  color: #fff;
  border: none;
  background-color: var(--secondaryColor);
}

.title-head .action-area a:hover {
  background-color: #488112;
  cursor: pointer;
}

/*  search tutorial*/

.search-tutorial-body {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-height: 80vh;
  background-color: var(--mainColor);
}

.demo-search-card {
  min-width: 300px;
  /* border: 1px solid white; */
  min-height: 50vh;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  margin: 50px 0;
}
#search-steps {
  text-align: start;
  width: 350px;
  color: var(--textColor);
}

.demo-search-card h1 {
    color: var(--secondaryColor);
  margin-bottom: 10px;
}

.demo-search-card p{
    width: 350px;
    color: var(--textColor);
    margin-bottom: 10px;
    text-align: justify;
}

.demo-search-card .numbers {
  background-color: #3a424243;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 350px;
  border-radius: 5px 5px 0 0;
  min-height: 200px;
}

.number {
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  margin: 5px;
}

.algorithm {
  min-width: 300px;
  /* border: 1px solid white; */
  min-height: 20vh;
  margin: 40px 0;
}

.algorithm h1 {
  color: var(--secondaryColor);
}

.action {
  height: 150px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #144c4685;
  padding: 10px 0;
}
.action button {
  width: 100px;
  height: 25px;
  margin: 10px;
  background-color: var(--secondaryColor);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
}
.action input {
  width: 80%;
  height: 25px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.numbers .found {
  background-color: green;
}
.numbers .left {
  background-color: orange;
}
.numbers .right {
  background-color: blue;
}
#result {
  margin-top: 20px;
  font-weight: bold;
  font-size: 2rem;
  color: green;
}


/* sort */
.sort-container{
  height: 80vh;
}

 .sort-numbers {
  min-height: 100px;
  width: 300px;
  background-color: bisque;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
 }
 
.sort-number {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  transition: transform 0.3s;
 }