@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600&family=Lato:wght@400;700&family=Pacifico&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
}

:root {
  --mainColor: #002233;
  --mainColorLight: #84899b;
  --secondaryColor: #308162;
  --textColor: #b2b8b8;
  --cardColor: rgba(241, 119, 92, 0.532);
  --line: #7a7171ab;
  --headcolor: #fcaf3c;
  --subcolor: #fff;
  --codecontainer: #161718;
}

.tutorial-body {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 0;
  font-family: "Chakra Petch", sans-serif;
  background-color: var(--mainColor);
}

.tutorial-cards {
  min-height: 400px;
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 25px 0;
  padding: 20px 5px;
  border-radius: 10px;
  /* border: 2px solid red; */
}

.content-card {
  width: 320px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--subcolor);
  margin: 10px;
  border-radius: 10px;
}

.banner-content-card {
  width: 300px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--mainColor);
  margin: 10px;
  border-radius: 10px;
  /* box-shadow: 8px 8px 16px #d9d9d9, -8px -8px 16px #d9d9d9; */
}

@media only screen and (max-width: 700px) {
  .content-card {
    width: 350px;
    margin: 25px 10px;
  }
  .tutorial-cards {
    box-shadow: 8px 8px 16px #001220, -8px -8px 16px #001220; /* border: 2px solid red; */
  }
}

.image-demo {
  background-color: var(--subcolor);
  height: 80px;
  width: 100px;
  color: var(--textColor);
  transition: 0.4s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-demo h1 {
  text-align: center;
  font-size: 1.5rem;
}
.title-head {
  background-color: var(--textColor);
  height: 120px;
  width: 200px;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.title-head h2 {
  margin: 5px 0;
  font-size: 1rem;
  color: var(--mainColor);
}
.title-head .action-area {
  margin-bottom: 5px;
}

.title-head .action-area a {
  padding: 5px 25px;
  text-decoration: none;
  border-radius: 5px;
  color: #fff;
  border: none;
  background-color: var(--secondaryColor);
}

.title-head .action-area a:hover {
  background-color: #488112;
  cursor: pointer;
}

.tutorial-banner {
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--mainColor);
  font-family: "Chakra Petch", sans-serif;
}

.banner-tutorial-cards {
  height: 200px;
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  overflow-x: scroll;
  margin: 20px 0;
  padding: 20px 5px;
  border-radius: 10px;
  /* box-shadow: 8px 8px 16px #ffffff, -8px -8px 16px #ffffff; */
}

.tutorial-cards::-webkit-scrollbar {
  display: none;
}

.banner-title {
  width: 96vw;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.banner-title h1 {
  color: #c52525;
  font-family: "Lato", sans-serif;
  font-weight: 900;
}

.banner-title a {
  text-decoration: none;
  color: var(--textColor);
}

.banner-title-head {
  background-color: var(--subcolor);
  height: 150px;
  width: 250px;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.banner-title-head h2 {
  margin: 5px 0;
  font-size: 1.5rem;
  color: var(--secondaryColor);
}
.banner-title-head .action-area {
  margin-bottom: 5px;
}

.banner-title-head .action-area a {
  padding: 5px 25px;
  text-decoration: none;
  border-radius: 5px;
  color: #fff;
  border: none;
  background-color: var(--secondaryColor);
}

.banner-title-head .action-area a:hover {
  background-color: #488112;
  cursor: pointer;
}

#YellowBox {
  background-color: #fcaf3c;
}

.tools-banner {
  min-height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--mainColor);
  font-family: "Chakra Petch", sans-serif;
}

.banner-tools-cards {
  height: 200px;
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  overflow-x: scroll;
  margin: 20px 0;
  padding: 20px 5px;
  border-radius: 10px;
  /* box-shadow: 8px 8px 16px #ffffff, -8px -8px 16px #ffffff; */
}

/*  search tutorial*/

.search-tutorial-body {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-height: 80vh;
  background-color: var(--mainColor);
}

summary {
  font-size: 2rem;
  color: var(--secondaryColor);
  font-family: "Lato", sans-serif;
  font-weight: 800;
}

.demo-search-card {
  min-width: 300px;
  min-height: 25vh;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  margin: 50px 0;
}

.demo-search-card p {
  margin: 20px;
}

#search-steps {
  text-align: start;
  width: 90vw;
  color: var(--headcolor);
}

.demo-search-card h1 {
  color: var(--secondaryColor);
  margin-bottom: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 800;
}

#target {
  margin-top: 10px;
}
.numbers {
  position: relative;
  min-height: 100px;
  width: 800px;
  border: 1px solid var(--secondaryColor);
  border-radius: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#binNum {
  bottom: 0px;
  width: 380px;
  height: 250px;
  border: 1px solid var(--secondaryColor);
  border-radius: 10px;
}

#binaction {
  position: relative;
  top: 10px;
}

.number {
  font-size: 16px;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 5px;
  border-radius: 50%;
  color: #272323;
  background-color: #f3ebeb;
  box-shadow: 2px 2px 4px var(--textColor);
  transition: background-color 0.5s ease;
}

.found {
  background-color: rgb(9, 151, 9);
  color: #fff;
}
.left {
  background-color: rgb(236, 243, 36);
  color: #fff;
}
.right {
  background-color: rgb(242, 51, 131);
  color: #fff;
}
#result {
  position: relative;
  top: 20px;
  font-weight: bold;
  color: green;
}
#binary-search-steps {
  text-align: start;
  width: 350px;
}

#n8 {
  position: absolute;
  top: 40px;
  left: 170px;
}

#n4 {
  position: absolute;
  top: 80px;
  left: 90px;
}
#n12 {
  position: absolute;
  top: 80px;
  left: 250px;
}
#n2 {
  position: absolute;
  top: 120px;
  left: 50px;
}
#n6 {
  position: absolute;
  top: 120px;
  left: 130px;
}
#n10 {
  position: absolute;
  top: 120px;
  left: 210px;
}
#n14 {
  position: absolute;
  top: 120px;
  left: 290px;
}
#n1 {
  position: absolute;
  top: 160px;
  left: 30px;
}
#n3 {
  position: absolute;
  top: 160px;
  left: 70px;
}
#n5 {
  position: absolute;
  top: 160px;
  left: 110px;
}
#n7 {
  position: absolute;
  top: 160px;
  left: 150px;
}
#n9 {
  position: absolute;
  top: 160px;
  left: 190px;
}
#n11 {
  position: absolute;
  top: 160px;
  left: 230px;
}
#n13 {
  position: absolute;
  top: 160px;
  left: 270px;
}
#n15 {
  position: absolute;
  top: 160px;
  left: 310px;
}

.algorithm {
  width: 90vw;
  margin: 5px 0;
}

.intro {
  width: 90vw;
  margin: 5px 0;
}

.intro h2 {
  color: var(--secondaryColor);
}

.intro p {
  color: var(--subcolor);
}

.algorithm h1 {
  color: var(--secondaryColor);
}

.action {
  height: 100px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 0;
}
.action button {
  width: 100px;
  height: 25px;
  margin: 10px;
  background-color: var(--secondaryColor);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
}
.action input {
  width: 80%;
  height: 30px;
  border: none;
  padding: 0 20px;
  border-radius: 5px;
  outline: none;
}

.numbers .found {
  background-color: green;
}
.numbers .left {
  background-color: orange;
}
.numbers .right {
  background-color: blue;
}
#result {
  margin-top: 10px;
  font-weight: bold;
  font-size: 2rem;
  color: green;
}

/* sort */
.sort-container {
  height: 80vh;
}

.sort-numbers {
  min-height: 100px;
  width: 300px;
  background-color: bisque;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.sort-number {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  transition: transform 0.3s;
}

@media only screen and (max-width: 700px) {
  .numbers {
    width: 380px;
  }
}

/* ----------stack----------- */
.stack-body {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 0;
  background-color: var(--mainColor);
  font-family: "Chakra Petch", sans-serif;
}

.stack-card {
  min-height: 400px;
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 25px 0;
  padding: 20px 5px;
  border-radius: 10px;
  /* box-shadow: 8px 8px 16px #ffffff, -8px -8px 16px #ffffff; */
  /* border: 2px solid red; */
}

.stack-card h1 {
  color: var(--secondaryColor);
  margin-bottom: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 800;
}

.stack-demo {
  width: 300px;
  padding: 20px;
  display: flex;
  align-items: end;
  justify-content: center;
  border: 1px solid var(--secondaryColor);
  border-radius: 10px;
}

.stack-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 60px;
  height: 250px;
  overflow-y: scroll;
  border: 1px solid black;
  border-top: none;
  background-color: var(--subcolor);
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}
.stack-item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 2px;
  background-color: #ce6c6c;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  transition: transform 0.3s ease-out;
  transform: translateY(-100%);
}
.stack-card button {
  border: none;
  padding: 5px 20px;
  margin: 5px;
  border-radius: 5px;
  background-color: var(--secondaryColor);
  color: var(--subcolor);
}

/* ------Queue--------- */

.queue-body {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 0;
  background-color: var(--mainColor);
  font-family: "Chakra Petch", sans-serif;
}

.queue-card {
  min-height: 400px;
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 25px 0;
  padding: 20px 5px;
  border-radius: 10px;
  /* box-shadow: 8px 8px 16px #ffffff, -8px -8px 16px #ffffff; */
  /* border: 2px solid red; */
}
.queue-demo {
  width: 350px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid var(--secondaryColor);
  border-radius: 10px;
}

.queue-card h1 {
  color: var(--secondaryColor);
  margin-bottom: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 800;
}

.queue-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex-wrap: wrap;
  width: 300px;
  min-height: 50px;
  background-color: var(--subcolor);
  border-top: 1px solid var(--secondaryColor);
  border-bottom: 1px solid var(--secondaryColor);
}
.queue-item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 2px;
  background-color: #ce6c6c;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  transition: transform 0.3s ease-out;
  transform: translateX(-100%);
}
.queue-card button {
  border: none;
  padding: 5px 20px;
  margin: 5px;
  border-radius: 5px;
  background-color: var(--secondaryColor);
  color: var(--subcolor);
}

/* dijkstra algorithm */
.dijkstra-body {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 0;
  background-color: var(--mainColor);
  font-family: "Chakra Petch", sans-serif;
}

.dijkstra-cards {
  min-height: 400px;
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 25px 0;
  padding: 20px 5px;
  border-radius: 10px;
  /* box-shadow: 8px 8px 16px #ffffff, -8px -8px 16px #ffffff; */
}

.dijkstra-card {
  min-height: 400px;
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 25px 0;
  padding: 20px 5px;
  /* background-color: #21d28e; */
  border-radius: 10px;
}

.dijkstra-cards h1 {
  font-family: "Lato", sans-serif;
  font-weight: 800;
  color: var(--secondaryColor);
  font-size: 2rem;
}

.dijkstra-cards button {
  background-color: var(--secondaryColor);
  color: var(--subcolor);
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
}

.dj-graph {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  height: 300px;
  width: 360px;
  border: 1px solid var(--secondaryColor);
  border-radius: 10px;
  margin: 10px 0;
}

.dj-graph #A {
  position: relative;
  top: 50%;
}

.dj-graph #A::after {
  content: "(4)";
  width: 2px;
  height: 70px;
  position: relative;
  left: 30px;
  bottom: 45px;
  background-color: #333;
  transform: rotate(225deg);
}

.dj-graph #A::before {
  content: "(2)";
  width: 2px;
  height: 70px;
  position: relative;
  left: 35px;
  top: 45px;
  background-color: #333;
  transform: rotate(-45deg);
}

.dj-graph #B {
  position: relative;
  top: 20%;
}
.dj-graph #B::before {
  content: "(5)";
  width: 2px;
  height: 70px;
  position: relative;
  left: 40px;
  top: 45px;
  background-color: #333;
  transform: rotate(-45deg);
}

.dj-graph #B::after {
  content: "(1)";
  width: 2px;
  height: 130px;
  position: relative;
  left: -5px;
  top: 90px;
  background-color: #333;
  transform: rotate(0deg);
}
.dj-graph #C {
  position: relative;
  top: 80%;
  left: -20%;
}
.dj-graph #C::after {
  content: "(8)";
  width: 2px;
  height: 70px;
  position: relative;
  left: 30px;
  bottom: 45px;
  background-color: #333;
  transform: rotate(225deg);
}
.dj-graph #C::before {
  content: "(8)";
  width: 2px;
  height: 150px;
  position: relative;
  left: 95px;
  bottom: 40px;
  background-color: #333;
  transform: rotate(245deg);
}
.dj-graph #D {
  position: relative;
  top: 50%;
  left: -20%;
}
.dj-graph #D::after {
  content: "(2)";
  width: 2px;
  height: 70px;
  position: relative;
  left: 55px;
  bottom: 0px;
  background-color: #333;
  transform: rotate(270deg);
}
.dj-graph #E {
  position: relative;
  top: 50%;
  left: -10%;
}

.dj-node {
  position: relative;
  height: 40px;
  width: 40px;
  border: 2px solid #333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background-color: var(--subcolor);
  z-index: 1;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dj-node:hover {
  background-color: var(--secondaryColor);
}

.dj-result {
  padding: 5px 10px;
  font-weight: bold;
  border: 1px solid var(--secondaryColor);
  min-height: 150px;
  width: 350px;
  border-radius: 10px;
  margin: 10px 0;
  color: var(--subcolor);
}

/* news-body */

.news-body {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 0;
  background-color: var(--mainColor);
  font-family: "Chakra Petch", sans-serif;
}

.news-cards {
  min-height: 400px;
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 25px 0;
  padding: 20px 5px;
  border-radius: 10px;
  /* box-shadow: 8px 8px 16px #ffffff, -8px -8px 16px #ffffff; */
}

.all-news {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.all-news .news-card {
  min-height: 20px;
  width: 92vw;
  border-radius: 10px;
  margin: 10px;
  background-color: var(--mainColor);
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.all-news .news-card h2 {
  color: #ce8b0d;
}

.all-news .news-card p {
  color: var(--subcolor);
  font-size: 1rem;
}

.generator-body {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 0;
  background-color: var(--mainColor);
  font-family: "Chakra Petch", sans-serif;
}

h1 {
  margin-bottom: 20px;
}

.generator-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 40px;
}

.card-generator {
  width: 96vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.card-properties {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.card-property {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
}

.card-property label {
  margin-right: 10px;
}

.neumorphism-card {
  width: 200px;
  height: 200px;
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  box-shadow: inset 4px 4px 10px #d9d9d9, inset -4px -4px 10px #d9d9d9;
}

.neumorphism-card h2 {
  margin-bottom: 10px;
  font-size: 4rem;
  color: red;
}

.glassmorphism-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-color: #3e2e2e;
  filter: blur(10px);
  opacity: 0.8;
  margin: 25px 0;
}

.glassmorphism-card h2 {
  font-size: 48px;
}

.neubox-code-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  background-color: var(--codecontainer);
  color: var(--subcolor);
  border-radius: 10px;
}

.neuboxcode-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

pre {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

#concavebtn {
  height: 75px;
  width: 75px;
  border-radius: 5px;
  margin: 10px;
  color: var(--subcolor);
  box-shadow: inset 1px 1px 10px 1px #b87575, inset -1px -1px 10px 1px #b87575;
}

#convexbtn {
  height: 75px;
  width: 75px;
  border-radius: 5px;
  margin: 10px;
  color: var(--subcolor);
  box-shadow: 1px 1px 10px 1px #8d8686, -1px -1px 10px 1px #8d8686;
}

/* tutorial.css */

.gradient-type-buttons {
  width: 230px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gradient-type-buttons.active {
  color: #7e95a8;
}

.gradient-type-buttons button {
  width: 50px;
  height: 25px;
  border-radius: 5px;
  color: var(--subcolor);
  background-color: var(--secondaryColor);
  transition: background-color 0.4s;
}

.gradient-type-buttons button:hover {
  background-color: var(--mainColor);
}

.direction-icons {
  color: #fff;
  display: flex;
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.direction-icons .tool-icon {
  background-color: var(--secondaryColor);
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 2px;
  transition: background-color 0.4s;
}

.direction-icons .tool-icon:hover {
  background-color: var(--mainColor);
  cursor: pointer;
}

#preview-width {
  width: 80px;
  height: 30px;
  padding: 0 10px;
  border: none;
  background-color: var(--subcolor);
  color: var(--secondaryColor);
  border-radius: 5px;
}
#preview-height {
  width: 80px;
  height: 30px;
  padding: 0 10px;
  border: none;
  background-color: var(--subcolor);
  color: var(--secondaryColor);
  border-radius: 5px;
}

.gradient-preview-container {
  width: 350px;
  height: 300px;
  /* border: 1px solid var(--headcolor); */

  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0;
}

.gradient-preview-container .gradient-preview {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

#gradientCSS-container {
  background-color: none;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  background-color: var(--codecontainer);
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
}

#gradientCSS {
  color: var(--subcolor);
}

#gradient-header {
  background: linear-gradient(to left, #002233, #fcaf3c, #002233);
  box-shadow: 8px 8px 16px #001220, -8px -8px 16px #001220; 
}

.css-code {
  white-space: pre-wrap;
  word-wrap: break-word;
}

@media only screen and (max-width: 700px) {
  #gradient-header {
    background: radial-gradient(#e78e08, #002233, #3a3927, #002233);
    box-shadow: 8px 8px 16px #001220, -8px -8px 16px #001220; 
  }
  #gradientCSS-container {
    background-color: none;
    width: 96%;
    min-height: 100px;
    background-color: var(--codecontainer);
    border-radius: 10px;
    padding: 5px;
  }

  #gradientCSS {
    color: var(--subcolor);
  }
}


#btnn {
  min-width: 60px;
  height: 25px;
  border-radius: 5px;
  color: var(--subcolor);
  margin: 5px 0;
  background-color: var(--secondaryColor);
  transition: background-color 0.4s;
}

#btnn-close {
  min-width: 60px;
  height: 25px;
  border-radius: 5px;
  color: var(--subcolor);
  margin: 5px 0;
  background-color: red;
  transition: background-color 0.4s;
}

#btnn:hover {
  background-color: var(--mainColor);
}

#btnn-close:hover {
  background-color: var(--mainColor);
}
